.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  box-shadow: 0px 2px 5px #ffffff88;

  & img {
    flex-grow: 1;
    width: 100%;
  }

  & h2 {
    margin-top: auto;

    font-size: inherit;
    font-weight: normal;
    text-align: center;
  }

  & a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;

    text-decoration: none;
  }
}
