:root {
  --danger-color: rgb(248, 64, 3);
  --primary-color: #d16eff;
}

html {
  background-color: #333;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

a {
  color: inherit;
}
