.nav {
  display: flex;
  align-items: center;
}

.mainMenu {
  display: flex;
  flex-grow: 1;

  margin: 0;

  list-style: none;

  & a {
    display: inline-block;
  
    text-decoration: none;
    padding: 0.5rem;

    &:hover,
    &.active,
    &:active {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}

.pushRight {
  margin-inline-start: auto;
}

.highlight {
  background-color: yellow;
}
